@import url(https://fonts.googleapis.com/css?family=Lato:100,900);

* {
	box-sizing: border-box;
	
}
html {
  background: rgb(0,101,255);
	height: 100%;
	width: 100%;
}

body {
	color: #fff;
  height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: 900;
  margin-bottom: 0;
	
	text-transform: uppercase;
}

p,
input  {

  font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;

  margin-top: 1%;
  text-transform: uppercase;
}
a:hover,
a:focus {
  color: #0dd;
}


.bold-font {
  font-weight: 900;
}

header {
	align-items: center;
	-webkit-align-items: center;
	
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	height: 100%;
}


#name {
  align-items: center;
  webkit-align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  display: flex;
  justify-content: flex-start;
  webkit-justify-content: flex-start;
  width: 120%;
  z-index: 1;
}

input {
  border: none;
  color: rgb(0,101,255);
  width: 50%; 
}



.app-container {
  background-color: #fff;
  color: rgb(0,101,255);
  height: auto;
  max-height: 90%;
  width: auto;
  max-width: 80%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.triangle {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    width: 0;
    height: 0;
    left: 0;
    padding-bottom: 10%;
    padding-left: 7%;
    overflow: hidden;
}

.triangle:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #FFF;
}

.content-section {
	
  padding-left: 10%;
	height: 100%;
}

.flex-column {
  align-items: center;
  overflow: hidden;
  webkit-align-items: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-row {
  align-items: center;
  webkit-align-items: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.btn {
  border: solid white 2px;
  color: rgb(0,101,255);
  cursor: pointer;
  font family: 'Lato';
  height: 10%;
  margin-bottom: 10%;
  width: 25%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
